.theme-selector {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  max-width: 250px;
}
.theme-buttons div {
  display: inline-block;
  width: 20px;
  height: 20px;
  cursor: pointer;
  margin-left: 15px;
  border-radius: 50%;
  border: 1px solid #555;
}
.mode-toggle {
  transition: all ease-in 0.3s;
  margin-left: 15px;
  padding-top: 2px;
  filter: invert(90%);
}
.mode-toggle img {
  transition: all ease-in 0.3s;
  width: 24px;
  height: 24px;
  cursor: pointer;
}

.mode-toggle.dark {
  filter: invert(10%);
}
